<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.pyvain.websight.websight">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SignIn"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".DataForm"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".GraphDisplay"
            android:theme="@style/AppTheme.NoActionBar"
            android:hardwareAccelerated="true"/>
        <activity
            android:name=".Parameters"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".AdviceDisplay"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".GeneralAdvice"
            android:theme="@style/AppTheme.NoActionBar"/>
        <service android:name=".GraphRequestService"/>
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>